﻿@model HogwartLibrary.Web.Models.BooksListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_BooksListView",Model.Books)

<div class="btn-group">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x}))
</div>